.containerAlbumHeader {
    background: rgb(72,78,78);
    background: linear-gradient(0deg, rgb(78, 82, 82) 0%, rgba(255,255,255,1) 100%);
}

.containerAlbumBody {
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgb(64, 66, 66) 77%);
}

.albumTitle {
    font-size: 3rem;
}

.iconeAlbumPage {
    
    padding: 1.5rem 0rem;
}

.albumIcon {
   margin:0 1rem 0;
}

#playIcon {
 color: #1FDF64 ;
 background-color: black; 
 border-radius: 50%;
 margin-right:1rem;
}

#clockIcon {
    color: rgb(228, 228, 228);
}

.branoAlbum {
    color: rgb(228, 228, 228);    
}

.elementoBranoAlbum1 {
    list-style: none;
    flex-grow: .5;
}

.elementoBranoAlbum2 {
    flex-grow: 10;
    list-style: none
}
.elementoBranoAlbum3 {
    flex-grow: 4;
    list-style: none
}
.elementoBranoAlbum4 {
    flex-grow: 1;
    list-style: none;
}
