svg, p, h2{
    color: white;
}

hr{
    border-color: white;
}

.imgAmici{
    border-radius: 100%;
}

#divSinistra{
    margin-left: 20px;
}

.testoPiccolo{
    font-size: xx-small;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

.imgDestra{
    border-radius: 100%;
    width: 25px;
    margin: 0.5rem;
}

.textDestra{
    color:white;
    margin: 0;
    padding: 0;
}

.bg-black{
    background-color: black;
}

#utente{
    border-radius: 100%;
    width: 20px;
    margin: 0;
}

#contenitore-utente{
    border-radius: 20px;
    background-color: black;
    padding-right: 5px;
}

span{
    color:white;
}

#hero-img{
    width: 100%;
}

#cont-img-hero{

}